$font-color: rgb(99, 70, 179);
$background-color: rgb(196, 232, 243);
$heading-color: green;
$width: 100%;
$padding: 9px;
$margin-bottom: 10px;
$margin: 0;
$bwidth: 200px;
$divwidth: 450px;
$cmargin: auto;