/* You can add global styles to this file, and also import other style files */

@import './vars';
body {
    color: $font-color;
    background-color: $background-color;
    margin: $margin;
}

.container {
    width: $divwidth;
    margin: $cmargin;
}

input[type="text"] {
    width: $width;
    padding: $padding;
    margin-bottom: $margin-bottom;
}

button {
    width: $bwidth;
    padding: $padding;
}